/* body {
  display: flex;
  justify-content: center;
}
.corpo {
  display: flex;
  border: solid 1px black;
  height: 100vh;
  width: 50%;
}

.um,
.dois,
.tres {
  border: solid 1px red;
  width: 40%;
  height: 94px;
  border-radius: 0px 46px 0px 0px;
} */

thead {
  background-color: #0000007d;
  color: white;
  padding: 20px;
}

td {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}
