/* propriedades globais */
* {
  margin: 0;
  padding: 0;
  /*Resta a stylesheet a margem e o espaçamento
padrão do navagador*/
}

body {
  font-family: Montserrat, sans-serif;
  /*  Determina o estilo da fonte de todo body */
}
a,
a:hover,
a:visited {
  text-decoration: none;
  /* Determina que o estilo que decora todas
  as tags de link estão desativados
  pseudoclasses:
  hover -> quando deixa o mouse em cima da tag
  visita -> depois que você já clicou */
}
/* propriedades globais */

/* header - cabeçalho*/
