h1 {
  margin-bottom: 5em;
}
.super-mario {
  width: 100px;
  position: relative;
  bottom: 70px;
  left: 45px;
}

.goomba {
  width: 50px;
}

.baloon {
  width: 250px;
  position: relative;
  bottom: 25em;
  left: 10em;
  z-index: 3;
}

.speach {
  font-size: 15px;
  position: relative;
  bottom: 20.5em;
  left: 12em;
  z-index: 4;
}

.bowser {
  width: 300px;
  margin-left: 15em;
}
