#btn-filter {
  color: white;
  background-color: green;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}
#btn-some {
  color: white;
  background-color: green;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}
#btn-every {
  color: white;
  background-color: green;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}
