* {
  margin: 0;
  padding: 0;
}

.login-page-container {
  width: 50%;
  margin: 0 auto;
  height: 100vh;
  /* border: 1px solid black; */
}
.forms {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  border: 1px solid black;
  border-radius: 25px;
  padding: 4em 2em 4em 2em;
}
form .login-label,
form .label-password {
  display: block;
}
form .input-login,
form .input-password {
  border-radius: 20px;
  height: 1.5em;
  padding: 0 0.5em;
}

form .login-password {
  margin-top: 1.5em;
}
form .checkbox-area {
  margin-top: 1em;
  text-align: center;
}
form .btn {
  text-align: center;
}

form .btn-submit {
  margin-top: 2em;
  padding: 0.5em;
  border-radius: 2em;
}
